.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  background: white;
  max-width: 700px;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.image {
  max-height: 200px;
}

.cardDetails{
  display: flex;
  flex-direction: column;
}

.gameTitle {
  font-size: 1.2em;
  background-color: darkslategray;
  color: white;
  font-weight: 300;
  padding: 5px;
}

.gameInfo {
  display: flex;
  align-items: center;
  padding: 5px;
}

.playerIcon {
  width: 26px;
  height: 26px;
  margin-right: 5px;
  filter: hue-rotate(180deg) saturate(2)
}

.playerIcon path {
  fill:black;
}

.timeIcon {
  width: 26px;
  height: 26px;
  margin-right: 5px;
  filter: hue-rotate(180deg) saturate(2)
}

.timeIcon path {
  fill:black;
}